<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8" th:remove="tag">
</head>

<body>
	<div layout:fragment="content">
		<h2>伝言メモ一覧</h2>
<!--		<a th:href="@{/admin/status/edit/{id}(id=*{id})}">離席メモを更新する</a>-->
<!--		<a th:href="@{/admin/message/}">伝言メモを確認する</a>-->

		<table class="table table-striped mt-4">
			<thead class="bg-primary text-white">
				<tr>
					<th>メッセージID</th>
					<th>相手先部門</th>
					<th>相手先電話番号</th>
					<th>相手先名前</th>
					<th>伝言区分</th>
					<th>伝言</th>
					<th scope="col" class="actions">削除</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="messageInfo: ${messageList}" th:object="${messageInfo}">
<!--					<td class="actions text-nowrap">-->
<!--						<a th:href="@{/admin/message/add/{toUserId}(toUserId=*{user.id})}" class="btn btn-primary">伝言</a>-->
<!--					</td>-->
					<td th:text="*{id}"></td>
					<td th:text="*{passSec}"></td>
					<td th:text="*{passTel}"></td>
					<td th:text="*{passName}"></td>
					<td th:text="*{msec}"></td>
					<td th:text="*{note}"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>