<nav layout:fragment="header" class="navbar navbar-expand-md navbar-light bg-light shadow-sm">
	<div class="container-fluid col-sm-10">
		<div class="navbar-header">
			<a th:href="@{/admin}" class="navbar-brand">在席管理アプリ</a>
		</div>
		<div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
			<ul sec:authorize="authenticated" class="navbar-nav mr-auto">
				<li class="nav-item dropdown">
					<a href="javascript:void(0)" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">在席情報</a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/admin/status}" class="nav-link">一覧</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a href="javascript:void(0)" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">伝言</a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/admin/message}" class="nav-link">伝言メモ確認</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<ul sec:authorize="!authenticated" class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a th:href="@{/user/login}" class="nav-link">ログイン</a>
			</li>
			<li class="nav-item dropdown">
				<a th:href="@{/user/register}" class="nav-link">新規ユーザ登録</a>
			</li>
		</ul>
		<ul sec:authorize="authenticated" class="navbar-nav mr-auto">
			<li class="navbar-text mr-3"><span sec:authentication="name" class="me-1"></span>さん</li>
			<li class="nav-item dropdown">
				<a href="javascript:void(0)" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">管理</a>
				<ul class="dropdown-menu">
					<li><a th:href="@{/admin/user}" class="nav-link">ユーザ一覧</a></li>
					<li><a th:href="@{/admin/user/edit}" class="nav-link">ユーザ編集</a></li>
					<li><a th:href="@{/admin/user/logout}" class="nav-link">ログアウト</a></li>
				</ul>
			</li>
		</ul>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>