<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
	<meta charset="utf-8">
	<title>ナンバーワンソリューションズ</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
<!--	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">-->
<!--    <link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">-->
<!--    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>-->
</head>
<body>
	<div layout:replace="~{layout/header::header}"></div>

	<div layout:fragment="content"></div>

<!--	<div id="nav">-->
<!--		<p th:if="${user != null && user.auth}">-->
<!--			<span th:text="${name}"></span>さん-->
<!--			<a th:href="@{/admin/}">ホーム</a>-->
<!--			<a th:href="@{/admin/user/update}">ユーザ情報</a>-->
<!--			<a th:href="@{/admin/user/logout}">ログアウト</a>-->
<!--		</p>-->
<!--		<p th:unless="${user != null && user.auth}">-->
<!--			<a th:href="@{/user/login}">ログイン</a>-->
<!--			<a th:href="@{/user/register}">新規ユーザ登録</a>-->
<!--		</p>-->
<!--	</div>-->

	<div layout:replace="~{layout/footer::footer}"></div>
</body>
</html>