<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8" th:remove="tag">
  </head>
  <body>
    <div layout:fragment="content">
      <form th:action="@{/admin/status/update}" th:object="${status}" method="post">
        <ul th:if="${#fields.hasErrors()}" class="alert alert-danger" role="alert">
          <li th:each="err : ${#fields.errors('*')}">
            <span th:text="${err}"></span>
          </li>
        </ul>
        <h1 class="page-header">離席メモ更新</h1>
          <table>
			<tr>
				<th>名前</th>
				<td>
<!--					${user.name}-->
				</td>
				<label for="name">名前</label>
			</tr>
          </table>
          <input class="btn btn-primary" type="submit" value="更新">
      	</div>
      </form>
    </div>
  </body>
</html>
